body {
	margin: 0;
	overflow: hidden;
	background: #111111;
	text-align: center;
}

#container {
	position: relative;
	display: inline-block;
	vertical-align: bottom;
}

#container #interface {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none; user-select: none;
}

#container canvas {
	display: block;
	margin: 0 auto;
}
