@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";
@import "bulma/sass/elements/_all";
@import "bulma/sass/form/_all";
@import "bulma/sass/components/_all";
@import "bulma/sass/grid/_all";
@import "bulma/sass/helpers/_all";
@import "bulma/sass/layout/_all";

.sidebar-group {
	width: 125px;
	padding-bottom: 7px;
}

.sidebar-list {
	@extend .box;
	margin-top: 4px;
	height: 200px;
	width: 100%;
	padding: 0;
	opacity: 1.0;
	overflow: hidden;
	box-sizing: border-box;
	transition: height 500ms, opacity 500ms, margin-top 500ms;

	&.sidebar-list-hidden {
		margin-top: 0;
		opacity: 0.0;
		height: 0px;
	}
}

.sidebar-list-inner {
	height: 200px;
	width: 100%;
	overflow-y: scroll;
}

.sidebar-list-item {
	@extend .button;
	background-size: cover;
	width: calc(100% - 20px);
	height: 90px;
	margin: 10px;
}

.command-sidebar {
	position: absolute;
	right: 0;
	padding: 10px;

	/* Buildings */

	.buildings {
		@extend .sidebar-group;
	}

	.buildings-button {
		@extend .button;
		width: 100%;
	}

	.building {
		@extend .sidebar-list-item;

		&.building-default {
			background-image: url('assets/ui/icons/building.png');
		}
	}

	/* Units */

	.units {
		@extend .sidebar-group;
	}

	.units-button {
		@extend .button;
		width: 100%;
	}

	.unit {
		@extend .sidebar-list-item;

		&.unit-default {
			background-image: url('assets/ui/icons/unit.png');
		}
	}
}

.fps-counter {
	position: absolute;
	right: 4px;
	bottom: 0;
	color: black;
	text-shadow: white 0 0 3px;
	opacity: 0.7;
}
